# Dependencies
node_modules/

.venv 

.env

routes.py
app.py

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build files
.next/
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache directories
.cache/